<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black">
      <h1 class="display-4">Steven's Tasks</h1>
      <p class="lead">Lead Information about my project.</p>
      <hr class="my-4">
      <p>Stress. Eating. Nice. Yummy. Coco Martin. Julia Montes. Maria Clara. Sisa. CRISPIN BASILIO.</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    <br><%= link_to "Testing User Categories", categories_path %>
    <br><%= link_to "Log in", login_path %>
    <br><%= link_to "Log out", logout_path, method: :delete %>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center text-white">
      <small>Drink your water, bitch. -Mimiyuh </small>
    </div>