<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Steven Task</h1>
    <p class="lead">Lead Information about my project.</p>
    <hr class="my-4">
    <p>Stress. Eating. Nice. Yummy. Coco Martin. Julia Montes. Maria Clara. Sisa. CRISPIN BASILIO.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    <br><%= link_to "Testing User Categories", categories_path %>
    <br><%= link_to "Log in", login_path %>
    <br><%= link_to "Log out", logout_path, method: :delete %>
  </div>
</div>