@import 'bootstrap/dist/css/bootstrap';
.navbar {
  background-color: #FDF6EA !important;
  }
  

  .navbar-brand {
  font-size: 3rem;
  }
  
  h1 {
  color: red;
  }

.nav-link {
  color: black !important
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px
}

.jumbotron {
  background-image: asset-url('catHiding.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}